#maintext{
    text-align: center;
    font-size: 30px;
}

#header{
    margin: 100px;
}

#password{
        width: 100%;
        border: 2px solid rgb(244, 186, 50);
        padding: 10px;
        
}
#input{
    position: absolute;
    right: 40%;
    top: 50%;
    
}

body{
    
  background-color: #ffffff;
  
}

#image1{
    width: 150px;
    float: right;
    margin-right: 15px;

}


#image2{
    width: 150px;
    float: center;
    margin-right: 15px;

}

